<nb-card>
  <nb-card-header>
    Users
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-group">
        <label for="name" class="label">Name</label>
        <input type="text" nbInput fullWidth id="name" placeholder="Name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Email address</label>
        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="username" class="label">Username</label>
        <input type="username" nbInput fullWidth id="username" placeholder="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password" class="label">Password</label>
        <input type="password" nbInput fullWidth id="password" placeholder="password" formControlName="password">
      </div>
      <button type="submit" nbButton status="danger">Add</button>
    </form>
  </nb-card-body>
</nb-card>
