<nb-card>
  <nb-card-header>
    Jobs
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <a href="/pages/jobs/add">Add New Jobs</a>
      </div>
    </div>
    <br/>
    <table class="table">
      
      <head>
        <th>Id</th>
        <th>Title</th>
        <th>Duration</th>
        <th>Status</th>
        <th>Owner</th>
      </head>

      <body *ngFor="let job of jobs">
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.title }}</td>
          <td>{{ job.duration }}</td>
          <td>{{ statuses[job.status] }}</td>
          <td *ngIf="job.owner">{{ job.owner.name }} ( {{ job.owner.username }} )</td>
          <td *ngIf="!job.owner">no owner</td>
          <td>
            <button (click)="deleteJob(job)" class="button danger">Delete</button>
          </td>
        </tr>
      </body>
    </table>
  </nb-card-body>
</nb-card>
