<nb-card>
  <nb-card-header>
    Users
  </nb-card-header>
  <nb-card-body>
    <a [routerLink]="['/pages/users/add']" routerLinkActive="router-link-active">Add New Users</a>
    <table class="table">
      <head>
        <th>Name</th>
      </head>
      <body *ngFor="let person of persons">
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.username }}</td>
          <td>{{ person.email }}</td>
          <td><button *ngIf="person.pushToken && person.pushToken!=' '" class="btn" (click)="sendNotification(person)">Send Notification</button></td>
        </tr>
      </body>
    </table>
  </nb-card-body>
</nb-card>
